/*Importaciones*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
/*Variables*/
:root{
    --black : #020407;
    --gray: #ADADAD;           
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Rubik', sans-serif;
    padding-bottom: 10rem;
    height: 90%;
    background: var(--black);
    color: var(--white);
    
    
}

.navbar{
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}
.navbar-menu{
    height: 2rem;
    width: 2rem
}

.header-content{
    
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 2rem 0;
}

.foto{
    display: flex;
    justify-content:space-around;
    align-items: center;  
    height: 10rem;
    width: 10rem;
    border-radius: 50%; 
}

.header-text{
    margin: 3rem;
    text-align: center;
    
    

}

.header-text p{

    font-size: 2.5rem;
   
}

.header-text h1{
    color: var(--gray);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


.social-container{

    width: 65%;
    max-width: 250px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.social-container svg{

    width: 3.5rem;
    height: auto;
}





.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.section1 h2{
    margin: 2rem;
    font-size: 2rem;
}

.section1 p{
    font-size: 1rem;
    color : var(--gray);
    width: 90%;
    max-width: 500px;
    text-align: center;
}






.section2{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.section2 h2{
    margin: 2rem;
    font-size: 2rem;
}
.habilidades p{
    padding-bottom: 2rem;
    font-size: 1rem; 
    text-align: center;    
}

.x svg{
    background-color:#434242;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: var(--white);
    padding: 1rem;
 
}

.habilidad{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1rem;
   

}

.habilidades .x{
    
    display: flex;
    justify-content: center;
}


.section3 h2{
    margin: 2rem;
    font-size: 2rem;
    text-align: center;
}
.visual {
   
    display: flex;
    gap: 3rem;
    width: 320px;
    padding: 1.5rem 2rem;
    border-bottom: 2px solid var(--gray);
}
.product {
    
    display: flex;
    gap: 3rem;
    width: 320px;
    padding: 1.5rem 2rem;
    border-bottom: 2px solid var(--gray);
}
.enginner {
    
    display: flex;
    gap: 3rem;
    width: 320px;
    padding: 1.5rem 2rem;
}
.experiencia{
    
    padding: 1rem 1rem;
    width: 360px;
}
.section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    
}
.section4 h2{
    margin: 2rem;
    font-size: 2rem;
    text-align: left;
    width: 500px;
    max-width: 90%;   
}
.section4 .img{
    max-width: 60%;
}






.section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;  
}
.section5 h2{
    font-size: 2rem;
    width: 500px;
    max-width: 90%;
}
.aliens{
    text-align: center;
    display: flex;
    flex-direction: column;  
}
.section5 svg{
    height: 3rem;
    width: 3rem;
    border-radius: 50%; 
    padding: 1rem;
}
.info{
    
    font-size: 0.6rem;
}
.nico{
    display: flex;
    gap: 2rem;
    padding-top: 1.5rem;
}











.btn{
    width: 1.5rem;
    height: 1.5rem;
}
.btn-wp{
  
    display: flex;
    justify-content: end;
    position: fixed;
    right: 20px;
    bottom: 90px;

}
.btn-fb{
   
    display: flex;
    justify-content: end;
    position: fixed;
    right: 20px;
    bottom: 60px;
    
}
.btn-tg{
 
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 20px;
    bottom: 30px;
    
}






.section7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;  
}
.hechoConAmor{
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center; 
}
.section7 img{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;    
}





@media screen and (min-width:900px){

    .header-text{
    
    width: 700px;
}
.header-text h2{
    
    font-size: 2rem;
    
}
.header-text p{

    font-size: 4rem;
    

}

.habilidad{
    width:100% ;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}
    
.habilidades{ 
    width: 350px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.section3{
    

    width: 54rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin: 0rem 600px;
    display: flex;
    flex-wrap: nowrap;  

}
.section4 h2{
    
    display: flex;
    justify-content: center;

}


.portafolio{

    
    width: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    padding: 2rem 0;
    margin: 0rem 600px;
    display: flex;
    flex-wrap: nowrap; 
    
    
}
.section5 h2{
    
    display: flex;
    justify-content: center;

}
}











/*
















.nico{
    font-size: 10rem;
    color: red;
}
h4{
    color: white;
    font-size: 5rem ;
}



























.habilidades__container--titulo{
    margin:10rem;      
}
.habilidades__container--info{
    margin: 10rem;
}  
.centrado{
    padding: 10rem;
}












.experiencia__titulo{

    margin: 4rem;
    
}








/*
.contenedor{
    font-size: 5rem;

}

*/

/*

.experiencia__container{
    margin: 5rem;
}









.visual{
    width: 200rem;
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    
    
}
.product{
    width: 200rem;
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    
}
.engineer{
    width: 200rem;
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    }
.line{

    height: 1rem;
    width: 200rem;
    background-color: var(--gray);
}    
    
.fecha{
    font-size: 5rem;
    color:var(--gray)    
}
.centra{
    
    width: 50rem;
}
.empresa{
    color:var(--gray)
}



.container__img{
    width: 4000px;
    
}


.img{
    width: 100%;
    padding-bottom: 15rem;
    
}



.portafolio{
    display: flex;
    justify-content: space-between;
    
}








.contacto__contacto{
    width: 4000px;
    font-size: 2rem;
    
    display: flex;
    
}

.aliens{
    width: 4000px;
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    
}


.datosEmail{
    padding-right:  30px;
}
.contacto__logo{

    
    border-radius: 50%;
    background-color: var(--gray);
}

.datos{
    font-size: 4rem;
    color:var(--white);
    background-color: transparent;
    
}
.tele__correo{
    font-size: 4rem;
    color: var(--gray);
}

.contacto > h2{

    
    width: 4000px;
    display: flex;
    justify-content: space-between;
}

.flotantes{

    width: 200px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    gap: 10px;


}

.float{
    width: 100%;
}



.amor{

    background-color: red;
    margin: 200px;
    align-items: center;
}

.hecho{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    gap: 2rem;
}






*/


/*

*/